-e git://github.com/bitly/bitly-api-python.git@3b19d8ab89e0ba821c4b413676cd0c8d157a33fa#egg=bitly_api-dev
configparser==3.2.0r3
mercurial==1.9.1
ordereddict==1.1
readline==6.2.1
unittest2==0.5.1
virtualenv==1.6.4
virtualenvwrapper==2.9
wsgiref==0.1.2
